body {
	background-color: #EDEDED;
}

.container {
	border-radius: 25px;
	overflow: auto;
	padding: 10px;
	margin: 10px;
}

.bg1 {
	background-color: #DCDCDC;
}

.bg2 {
	background-color: #A8A8A8;
}

.header {
	font-size: 1.5em;
}

.header h1 {
	margin: 5px;
}

.menu, .contents {
	display: inline-block;
	vertical-align: top;
}

.menu a:link {
	text-decoration: none;
}

.menu {
	width: 30%;
}

.contents {
	width: 60%;
}

a span {
	font-weight: bold;
	font-size: 1.2em;
}