<h1>New User</h1>

<% if flash[:login_errors] != nil %>
    <p><%= flash[:login_errors] %></p>
<% end %>

<% if flash[:reg_errors] != nil %>
    <% flash[:reg_errors].each do |error| %>
        <p><%= error %></p>
    <% end %>
<% end %>


<form action="/users/login" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="email">Email:
        <input type="text" name="email">
    </label>
    <label for="password">Password:
        <input type="text" name="password">
    </label>
    <input type="submit" value="Login">
</form>

<a href="/users/new">Register</a>
